__pycache__/
*.pyc
.lake/
*.olean
target/
.DS_Store
*.vo
*.vok
*.vos
*.glob
*.aux
*.log
.lia.cache
formal/coq/.coqdeps
formal/isabelle/output/
tools/tla/*.out
formal/tla/states/
formal/tla/*.out
.lake-packages/
.idea/
.vscode/
*.pdb
